export TW_SIGNAL_DATA_DIR=/mnt/d/tmp/market-data/tick-data
export TW_SIGNAL_PARQUET_DATA_DIR=/mnt/d/tmp/market-data/tick-data-parquet
export TW_SIGNAL_FILES_DIR=/mnt/d/tmp/market-data/symbols
export TW_SIGNAL_GROUP_FILE=/mnt/d/tmp/market-data/symbols/group-ver20260408.csv
